.communication {
  padding: 50px 13px 52px 13px;
  background-color: #191c19;
}

.communication__title {
  margin: 0 0 40px 0;
  max-width: 310px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -1.05px;
}
