.competencies {
  max-width: 380px;
}

.competencies__title {
  margin: 0 0 29px;
  font-size: 25px;
}

.competencies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.competencies__item {
  font-weight: 700;
  background-color: $main-color;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
}
