.container {
  width: 100%;
  padding: 0 13px 100px 13px;

  @media (min-width: $tablet-width) {
    padding: 0 13px 60px 13px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}
