.footer {
  padding: 47px 13px 34px 13px;
  background-color: #ffffff;
}

.footer__desc {
  margin: 0 0 20px 0;
  max-width: 198px;
  color: #000000;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}
