.footer {
  padding: 47px 13px 34px 13px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 51px 40px 21px 40px;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__social {
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.footer__desc {
  margin: 0 0 20px 0;
  max-width: 198px;
  color: #000000;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;

  @media (min-width: $tablet-width) {
    max-width: 392px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    max-width: 532px;
    font-size: 22px;
    letter-spacing: -0.66px;
  }
}

.footer__copyright {
  color: #000000;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.5px;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}
