.header {
  margin: 0 0 100px 0;
  background-image: url("../../images/header-background@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/header-background@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 150px 0;
    background-image: url("../../images/header-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/header-background-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 13px 60px 13px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: $tablet-width) {
    padding: 27px 0 94px 0;
  }
}

.header__text {
  margin: 0 0 10px 0;
  padding: 256px 0 0 0;
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  letter-spacing: -0.45px;

  @media (min-width: $tablet-width) {
    max-width: 430px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}

.header__title {
  margin: 0;
  color: #1bff07;
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: -1.2px;

  @media (min-width: $tablet-width) {
    max-width: 727px;
    grid-column: 1 / -1;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.8px;
  }

  @media (min-width: $desktop-width) {
    max-width: 920px;
    font-size: 80px;
    letter-spacing: -2.4px;
  }
}
