.header {
  margin: 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 13px 60px 13px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: $tablet-width) {
    padding: 27px 13px 94px 13px;
  }
}
