.header__text {
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  letter-spacing: -0.45px;
}

.header__title {
  color: #1bff07;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -1.2px;
}
