.logo-link {
  position: relative;
  width: 100%;
  min-height: 40px;
  max-width: 170px;
  margin: 12px 0 0 0;
  display: block;
  align-self: start;
  color: $main-color;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -4.5px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #191c19;
    border-radius: 100px;
  }

  &::after {
    content: "TSABIEV";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}
