.nav {
  margin-left: auto;
}

.nav__toggle {
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: 0;
  width: 63px;
  height: 63px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 3px;
    background-color: $main-color;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 17px;
  }

  &::after {
    bottom: 17px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.nav__toggle-line {
  width: 39px;
  height: 3px;
  background-color: $main-color;
  transform: scale(1);
  border-radius: 2px;
}

.nav__toggle--no-js.nav__toggle {
  display: none;
}

.nav--opened .nav__toggle {
  &::before {
    width: 28px;
    top: 45%;
    background-color: $main-color;
    transform: rotate(-45deg) translate(0, -50%);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--opened .nav__toggle::after {
  width: 28px;
  bottom: 54%;
  background-color: $main-color;
  transform: rotate(45deg) translate(0, 50%);

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--opened .nav__toggle-line {
  transform: scale(0);
}

.nav--opened .nav__list {
  @media (max-width: 1023px) {
    position: absolute;
    width: 100%;
    min-height: 90%;
    top: 0;
    left: 13px;
    padding: 155px 37px 37px 37px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    background-color: #191c19;
    border-radius: 15px 0 0 15px;
  }
}

.nav--closed .nav__list {
  @media (max-width: 1023px) {
    display: none;
  }
}

.nav--no-js.nav {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: initial;
    margin: initial;
  }
}

.nav--no-js .nav__list {
  @media (max-width: 767px) {
    display: block;
    position: static;
  }
}
