.projects {
  padding: 0 13px 100px 13px;

  @media (min-width: $tablet-width) {
    padding: 0 13px 150px 13px;
  }
}

.projects__title {
  max-width: 268px;
  margin: 0 0 34px 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px 0;
    max-width: none;
    font-size: 45px;
    letter-spacing: -1.35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    letter-spacing: -1.65px;
  }
}

.projects__list {
  margin: 0 0 60px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 64px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
  }
}

.projects__link {
  display: block;
  min-height: 445px;
  padding: 26px 33px 50px 33px;

  @media (min-width: $tablet-width) {
    padding: 40px 35px;
  }

  &--metrika {
    background-image: url("../../images/project-metrika@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/project-metrika@2x.png");
      background-size: 100% auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../images/project-metrika-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-metrika-tablet@2x.png");
        background-size: 100% auto;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 550px;
      background-image: url("../../images/project-metrika-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-metrika-desktop@2x.png");
        background-size: 100% auto;
      }
    }
  }

  &--nothing {
    background-image: url("../../images/project-nothing@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/project-nothing@2x.png");
      background-size: 100% auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../images/project-nothing-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-nothing-tablet@2x.png");
        background-size: 100% auto;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 550px;
      background-image: url("../../images/project-nothing-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-nothing-desktop@2x.png");
        background-size: 100% auto;
      }
    }

    .projects__item-title {
      max-width: 158px;

      @media (min-width: $tablet-width) {
        max-width: 201px;
      }
    }
  }

  &--toptrip {
    background-image: url("../../images/project-toptrip@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/project-toptrip@2x.png");
      background-size: 100% auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../images/project-toptrip-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-toptrip-tablet@2x.png");
        background-size: 100% auto;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 550px;
      background-image: url("../../images/project-toptrip-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/project-toptrip-desktop@2x.png");
        background-size: 100% auto;
      }
    }
  }
}

.projects__item-title {
  margin: 0 0 273px 0;
  padding: 6px;
  max-width: 147px;
  background-color: #1bff07;
  text-align: center;
  border-radius: 65px;
  color: #000000;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  @media (min-width: $desktop-width) {
    max-width: 206px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}

.projects__item-name {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;

  @media (min-width: $desktop-width) {
    font-size: 35px;
    letter-spacing: -1px;
  }
}

.projects__item-desc {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    letter-spacing: -0.7px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    letter-spacing: -1px;
  }
}

.projects__btn {
  width: 100%;
  padding: 28px 51px 29px 51px;

  @media (min-width: $tablet-width) {
    padding: 46px 66px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 85px;
    width: 50%;
  }
}
