.projects__title {
  max-width: 268px;
  margin: 0 0 34px 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px 0;
    max-width: none;
    font-size: 45px;
    letter-spacing: -1.35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    letter-spacing: -1.65px;
  }
}

.projects__list {
  margin: 0 0 60px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 30px;
    margin: 0 0 64px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
  }
}

.projects__link {
  display: block;
  max-height: 500px;
  padding: 26px 33px 50px 33px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 40px 35px;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.projects__link--drink-to-go {
  background-image: url("../../images/project-drink-to-go@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-drink-to-go@2x.jpg");
  }
}

.projects__link--sedona {
  background-image: url("../../images/project-sedona@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-sedona@2x.jpg");
  }
}

.projects__link--mishka {
  background-image: url("../../images/project-mishka@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-mishka@2x.jpg");
  }
}

.projects__link--cat-energy {
  background-image: url("../../images/project-cat-energy@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-cat-energy@2x.jpg");
  }
}

.projects__link--yagoda {
  background-image: url("../../images/project-yagoda@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-yagoda@2x.jpg");
  }
}

.projects__link--glaccy {
  background-image: url("../../images/project-glaccy@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-glaccy@2x.jpg");
  }
}

.projects__link--device {
  background-image: url("../../images/project-device@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-device@2x.jpg");
  }
}

.projects__link--technomart {
  background-image: url("../../images/project-technomart@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-technomart@2x.jpg");
  }
}

.projects__link--metrika {
  background-image: url("../../images/project-metrika@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/project-metrika@2x.jpg");
  }
}

.projects__item-title {
  margin: 0;
  padding: 6px;
  max-width: 135px;
  background-color: $main-color;
  text-align: center;
  border-radius: 65px;
  color: #000000;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.39px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}

.projects__item-name {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;

  @media (min-width: $desktop-width) {
    font-size: 35px;
    letter-spacing: -1px;
  }
}

.projects__item-desc {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.48px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    letter-spacing: -0.7px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    letter-spacing: -1px;
  }
}

.projects__btn {
  width: 100%;
  padding: 28px 51px 29px 51px;

  @media (min-width: $tablet-width) {
    padding: 46px 66px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 85px;
    width: 50%;
  }
}
