.services__title {
  position: relative;
  margin: 0 0 60px 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;

  &::after {
    content: "Помогаю реализовать задачи:";
    position: absolute;
    top: 5px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 326px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
    max-width: 403px;
    font-size: 35px;
    letter-spacing: -1px;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media (min-width: $tablet-width) {
    gap: 32px;
  }
}

.services__img {
  min-height: 225px;

  @media (min-width: $tablet-width) {
    min-height: 162px;
  }
}

.services__img--website-development {
  background-image: url("../../images/website-development@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/website-development@2x.png");
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/website-development-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-development-tablet@2x.png");
      background-size: 100% auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 200px;
    background-image: url("../../images/website-development-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-development-desktop@2x.png");
      background-size: 100% auto;
    }
  }
}

.services__img--website-layout {
  background-image: url("../../images/website-layout@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/website-layout@2x.png");
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/website-layout-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-layout-tablet@2x.png");
      background-size: 100% auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 200px;
    background-image: url("../../images/website-layout-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-layout-desktop@2x.png");
      background-size: 100% auto;
    }
  }
}

.services__img--mobile-interface {
  min-height: 162px;
  background-image: url("../../images/mobile-interface@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/mobile-interface@2x.png");
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/mobile-interface-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/mobile-interface-tablet@2x.png");
      background-size: 100% auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 200px;
    background-image: url("../../images/mobile-interface-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/mobile-interface-desktop@2x.png");
      background-size: 100% auto;
    }
  }
}

.services__desc-wrapper {
  padding: 30px 22px 67px 22px;
  border-radius: 24px;
  background-color: #191c19;

  @media (min-width: $tablet-width) {
    padding: 32px 32px 55px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 40px 64px 40px;
  }
}

.services__item-title {
  margin: 0 0 15px 0;
  color: #1bff07;
  font-size: 35px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.05px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    letter-spacing: -1.35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    letter-spacing: -1.65px;
  }
}

.services__desc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;

  @media (min-width: $desktop-width) {
    font-size: 22px;
    letter-spacing: -0.66px;
  }
}
