.services {
  padding: 0 13px 100px 13px;
}

.services__title {
  margin: 0 0 60px 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.849px;
}

.services__img {
  min-height: 225px;

  &--website-development {
    background-image: url("../../images/website-development@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-development@2x.png");
      background-size: 100% 100%;
    }
  }

  &--website-layout {
    background-image: url("../../images/website-layout@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/website-layout@2x.png");
      background-size: 100% 100%;
    }
  }

  &--mobile-interface {
    background-image: url("../../images/mobile-interface@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/mobile-interface@2x.png");
      background-size: 100% 100%;
    }
  }
}

.services__desc-wrapper {
  padding: 30px 22px 67px 22px;
  border-radius: 24px;
  background-color: #191c19;
}

.services__item-title {
  margin: 0 0 15px 0;
  color: #1bff07;
  font-size: 35px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1.05px;
}

.services__desc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}
